<div class="section" >

	<h2>Create a reminder</h2> 

	<form action="/reminder" method="POST">

		<div>
			<label for="">First name:</label>
			<input type="text" name="firstName" placeholder="Enter first name">
		</div>
		<div>
			<label for="">Book count:</label>
			<input type="text" name="bookCount" placeholder="Enter the number of books">
		</div>
		<div>
			<label for="">Days due in:</label>

			<input type="text" name="dayCount" placeholder="Enter the # of days">
		</div>

		<div>
			<input type="submit" class="bigger-button" value="Add reminder">
		</div>
	</form>

</div>

<div>
	<h2>Reminders</h2>


{{#each notifications}}
<div class="section mt-1">

	Dear {{first_name}},
	<br><br>
	The <strong>{{book_count}}</strong> book(s) you took out at the library is due in <strong>{{days_due_in}}</strong> day(s).
	<br><br>

	{{!-- {{#if notLate}}
	Please return these books to us in the next <a href="/reminder/{{days_due_in}}/days">{{days_due_in}} days</a> .
	{{else}}
	<span class="late" > Please return your books <strong>urgently</strong></span>
	{{/if}} --}}

	<div class="mt-1" >
			<a href="/edit/{{id}}">Edit reminder</a>
	</div>
	<div class="return-book mt-1" >
		<form method="POST" action="/return/{{id}}" >
			<input type="submit" class="small-button" value="Return book">
		</form>
	</div>
</div>
{{/each}}
</div>